<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Enregistrer un nouveau Post</h2>
    <form [formGroup]="newPostForm" (ngSubmit)="onValidate()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <input type="text" id="content" class="form-control" formControlName="content">
      </div>
      <button class="btn btn-success" [disabled]="newPostForm.invalid" type="submit">Enregistrer
      </button>
    </form>
  </div>
</div>